#experience {
  scroll-margin-top: 120px; 
}

.Exp-container h1{
    font-size: 35px;
    margin-left: 150px;
}

.Exp-container h3{
    font-size: 20px;
    font-weight: 700;
    margin-left: 150px;
    color: #444;

    display: inline-block;
    margin-right: 30%;

}

.Exp-container p{
    font-size: 18px;
    font-weight: 500;
    margin-left: 150px;
    max-width: 70%;
}

.Exp-container p{
    text-indent: 50px;
}

.Skills{
    list-style: disc;
    margin-left: 150px;
    margin-top: 20px;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px 30px;
}

.Skills li{
    font-size: 15px;
    font-weight: 500;
    color: #444;
}

@media (max-width: 768px) {
    .Exp-container h1{
        margin-left: 0;
    }

    .Exp-container h3{
        margin-left: 5px;
    }

    .Exp-container p{
        margin-left: 5%;
        max-width: 90%;
    }
    
    .Skills{
        list-style: disc;
        margin-left: 5%;
        margin-top: 20px;
        max-width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px 30px;
    }   
}